.form-control {
    font: inherit;
    margin: 0.5rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-family: "Roboto";    
  }
  
  .form-control h1 {
    font-weight: bold;
    display: block;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .form-control label {
    font-weight: bolder;
    display: block;
  }
  
  .form-control input[type=email] {
    width: 100%;
    display: block;
    border: 1px solid rgb(221, 221, 221);
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .form-control input[type=password] {
    width: 100%;
    display: block;
    border: 1px solid rgb(221, 221, 221);
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form-control input[type=checkbox] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    border-radius: 4px;
    margin-right: 8px;
    background-color: white;
  }

  .form-control span {
    font-size: 1.15rem;
  }

  .form-control p {
    text-align: center;
    margin: 0.5rem;
    font-size: 0.9rem;
  }

  .form-control a {
    font-weight: bold;
    color: black;
    margin: 0.2rem;
  }

  .form-control input:focus {
    outline: none;
    border-color: green;
  }
  
  .form-control.invalid label{
    color: red;  
  }
  
  .form-control.invalid input{
    border-color: red;
    background-color: rgb(255, 75, 75);
  }
